ul
  li
    div
      a(href='/class-thread')
        div.classtag ?
        div.classname
          div.posttitle {{post-title}}
          div.postpreview {{post-preview}}
          div.posttime {{post-time}}
