ul
  each val in classes
    li
      div
        a(href="/class/#{fullname}/#{val.className}")
          div.classtag #{val.className}
          div.classname CSE #{val.className}
div#new-class.new-button  + New Class