ul
  li
    a(href='/')
      div.classtag
        i.fa.fa-chevron-left
    div.classname
      div.posttime
      div.posttitle
      div.postpreview
  li.comment
    div.pic
    div.content {{post-content}}