ul
  if(hasClasses)
    each val in classes
      li
        div
          a(href="/class/#{val.className}")
            div.classtag #{val.className}
            div.classname CSE #{val.className}
div#new-class.new-button  + New Class