ul
  li
  	a(href='')
  	  div.classtag
  	  	i.fa.fa-chevron-left
  	div.classname
  	  div.posttime {{post-time}}
  	  div.posttitle {{post-title}}
  	  div.postpreview {{post-content}}
  li.comment.answer
  	div.picture
  	div.content {{post-content}}
