ul
  li
    div.classname
      div.posttime #{thread.time}
      div.posttitle #{thread.title}
      div.postpreview #{thread.content}
  li.comment
    div
      div.pic.young
      div.content {{post-content}}
div.new-button  + New Post
