div.centered-box
  div.logo
  form(action='/login', method='post')
    if(success)
      input.box(type='text', placeholder='E-mail', name='user[email]', id='email' required)
      label(for='email') E-mail 
      input.box(type='password', placeholder='Password', name='user[password]', id='pw' required)
      label(for='pw') Password
      input.button(type='submit', value='Log in', id='login')
    else
      div.fail Invalid email or password.
      input.box.fail(type='text', placeholder='E-mail', name='user[email]', id='email' required)
      label.fail(for='email') Email 
      input.box.fail(type='password', placeholder='Password', name='user[password]', id='pw' required)
      label.fail(for='pw') Password
      input.button(type='submit', value='Log in', id='login')
  div.register
    div.registerMessage OR
    a(href='/register') 
      button.button Register
