div#nav-bar.nav
  div#home.block
    a(href='/main')
      i.fa.fa-home
      div.nav-title HOME
  div#back.block
    a(href='#{location}')
      i.fa.fa-arrow-left
      div.nav-title BACK
  div.title #{title}
  div#search.block
    div
      i.fa.fa-search
      div.nav-title SEARCH
  div#settings.block
    div
      i.fa.fa-bars
      div.nav-title MENU