div#nav-bar.nav
  div#home.block
    a(href='index.html')
      i.fa.fa-home
      div.nav-title HOME
  div.title {{title}}
  div#search.block
    div
      i.fa.fa-search
      div.nav-title SEARCH
  div#settings.block
    div
      i.fa.fa-cogs
      div.nav-title SETTINGS