form(action='/register', method='post')
  label(for='firstname') First Name 
  input(type='text', name='user[firstname]', id='firstname')
  label(for='lastname') Last Name
  input(type='text', name='user[lastname]', id='lastname')
  br
  label(for='email') Email 
  input(type='text', name='user[email]', id='email')
  br
  label(for='pw') Password
  input(type='password', name='user[password]', id='pw')
  br
  input(type='submit' value='Register')
