/*div.inner {
	display: table;
	width: 100%;
}

div.inner > span {
	display: table-cell;
	width: 100%;
}

div.inner > span > div.posttime {
	width: 100%;
}

div.inner > span > div.posttitle, div.inner > span > div.postpreview {
	display: table-cell;
}*/

.classtag {
	display: table-cell;
	border: 2px solid #004363;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 600;
	color: #004363;
	background: white;
	position:absolute;
	padding-top: 5px;
}
.classname {
	display: table-cell;
	height: 40px;
	width: 100%;
	vertical-align: middle;
	padding: 0 10px;
	font-weight: 600;
	position: relative;
	padding-left: 60px;
}
.postpreview {
	font-weight: 300;
	font-size: 12px;
}
.posttime {
	position: relative;
	font-weight: 200;
	font-size: 14px;
	top: -44px;
	float: right;
	height: 0px;
	color: rgb(150,150,150);
}
.google {
	background: #5a98f4;
}
.google .posttime {
	color: white;
}
a:nth-child(odd) .google{
	background: #4285f4;
}
.link {
	background: rgb(131, 231, 5);
}
a:nth-child(odd) .link {
	background: rgb(120, 208, 8);
}

ul > li > div > a {
	display: table;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}