#settings, #search, #home {
	cursor: pointer;
	cursor: hand;
}

#home {
	position: absolute;
	top: -1px;
	left: 0px;
}

#home > a {
	position: absolute;
	top: 6px;
	left: 16px;
}

#back {
	position: absolute;
	top: -1px;
	left: 60px;
}

#back > a {
	position: absolute;
	top: 6px;
	left: 16px;
}

#settings {
	position: absolute;
	top: -1px;
	right: 0px;
}

#settings > div {
	position: absolute;
	top: 6px;
	left: 16px;
}

#search {
	position: absolute;
	top: -1px;
	right: 60px;
}

#search > div {
	position: absolute;
	top: 6px;
	left: 9px;
}

#nav-bar > div.title {
	height: 60px;
	padding-left: 120px;
	padding-right: 120px;
	width: auto;
}

#nav-bar {
	width: 100%;
	z-index: 100;
}

#settings-panel {
	top: 64px;
	right: 0px;
	position: fixed;
	background-color: lightblue;
	border-left: 2px solid rgb(0, 122, 197);
	height: 100%;
	display: none;
	width: 200px;
}

#search-panel > .inner {
	display: table;
    width: 100%;
}

#search-panel > .inner > span {
	display: table-cell;
    width: 100%;
    padding: 0px 10px;
}

#search-panel > .inner > span > input {
	width: 100%;
	height: 25px;
	margin-top: 10px;
}

#search-panel > .inner > i {
	display: table-cell;
}

#search-panel {
	top: 64px;
	left: 0px;
	position: fixed;
	height: 54px;
	background-color: gray;
	display: none;
}

#settings-panel > div {
	padding: 15px;
}

#search-panel > .inner > i.fa-search {
	font-size: 15px;
	padding-left: 5px;
	padding-right: 10px;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	border: 2px solid white !important;
}

a {
	text-decoration: none;
	color: inherit;
}

#placeholder {
	margin-left: 10px;
	margin-top: 200px;
}

html,body {
	margin:0;
}

body {
	font-family:'Source Sans Pro',sans-serif;
	overflow:scroll;
}

ul {
	list-style:none;
	margin:64px 0 0;
	padding:0;
	overflow:scroll;
}

li {
	display:table;
	background:#f0f0f0;
	width: 100%;
}

li > div {
	padding: 10px;
}

li:nth-child(odd) {
	background:#dcdcdc;
}

.classtag {
	display:table-cell;
	height:40px;
	width:40px;
	text-align:center;
	vertical-align:middle;
	font-size:20px;
	font-weight:300;
	background:#323232;
	color:#fff;
}

.classname {
	display:table-cell;
	height:40px;
	width:260px;
	vertical-align:middle;
	padding:0 10px;
	font-weight:600;
}

.nav {
	display:table;
	border-collapse:collapse;
	position:fixed;
	background:#fff;
	top:0;
}

.block {
	display:table-cell;
	width:60px;
	height:60px;
	vertical-align:middle;
	text-align:center;
	border:2px solid #000;
	background-color: white;
}

.title {
	display:table-cell;
	vertical-align:middle;
	width:150px;
	text-align:center;
	border:2px solid #000;
	font-size:20px;
}

.nav-title {
	font-size:10px;
	letter-spacing:1px;
}

.nav i {
	font-size:30px;
}

div.new-button {
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
	background-color: #B6EAA0;
	color: #3c763d;
	border: 2px #3c763d solid;
} 

form {
	margin-top: 150px;
}

#classes {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#classes > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#classes > form > select {
	width: 100px;
}

#classes > form > input {
	width: 100px;
}

#hide-class {
	width: 100px;
}

#threads {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#threads > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#threads > form > textarea {
	width: 150px;
}

#threads > form > input {
	width: 100px;
}

#posts {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#posts > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#posts > form > textarea {
	width: 150px;
}

#notif {
	text-decoration: line-through;
	color: gray;
}

#pref-panel {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#pref-panel > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

.delete {
	display: table-cell;
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 300;
	background: #AB0000;
	color: #fff;
}

#delete-class {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#delete-class > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#delete-class > form > input, #delete-class > form > button {
	width: 100px;
	margin: 10px;
}

input.fail {
	border: 2px #83192b solid;
}

div.fail {
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-bottom: 5px;
	padding: 5px;

}

.fail {
	color: #a94442;
}

label {
	display: inline-block;
	width: 100px;
}

.button {
	width: 255px;
}

.box {
	width: 150px;
}
.centered-box {
	margin-left: auto;
	margin-right: auto;
	width: 256px;
}

.login, .register {
	margin-top: 20px;
}

#thread {
	background-color: lightblue;
}