#settings, #search, #home {
	cursor: pointer;
	cursor: hand;
}

#home {
	position: absolute;
	top: -1px;
	left: 0px;
}

#home > a {
	position: absolute;
	top: 6px;
	left: 16px;
}

#back {
	position: absolute;
	top: -1px;
}

#back > a {
	display: table-cell;
	vertical-align: middle;
}

#settings {
	position: absolute;
	top: -1px;
	right: 0px;
}

#settings > div {
	display: table-cell;
	vertical-align: middle;
}

#search {
	position: absolute;
	top: -1px;
	right: 60px;
}

#search > div {
	position: absolute;
	top: 6px;
	left: 9px;
}

#nav-bar > div.title {
	height: 64px;
	padding-left: 120px;
	padding-right: 120px;
	width: auto;
	color: white;
}

#nav-bar {
	width: 100%;
	z-index: 100;
}

#settings-panel {
	top: 64px;
	right: 0px;
	position: fixed;
	background-color: lightblue;
	border-left: 2px solid rgb(0, 122, 197);
	height: 100%;
	display: none;
	width: 200px;
}

#search-panel > .inner {
	display: table;
    width: 100%;
}

#search-panel > .inner > span {
	display: table-cell;
    width: 100%;
    padding: 0px 10px;
}

#search-panel > .inner > span > input {
	width: 100%;
	height: 25px;
	margin-top: 10px;
}

#search-panel > .inner > i {
	display: table-cell;
}

#search-panel {
	top: 64px;
	left: 0px;
	position: fixed;
	height: 54px;
	background-color: gray;
	display: none;
}

#settings-panel > div {
	padding: 15px;
}

#search-panel > .inner > i.fa-search {
	font-size: 15px;
	padding-left: 5px;
	padding-right: 10px;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

a {
	text-decoration: none;
	color: inherit;
}

#placeholder {
	margin-left: 10px;
	margin-top: 200px;
}

html,body {
	margin:0;
}

html {
	min-height: 100%;
}

body {
	font-family: 'Source Sans Pro',sans-serif !important;
	overflow:scroll;
	background: url("../images/booksbackground2.jpg") #ccc no-repeat center center fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body.loggedIn {
	background-image: url("../images/colorbackground.jpg");
	color: #004363;
}

ul {
	list-style:none;
	margin:64px 0 0;
	padding:0;
	overflow:scroll;
}

li {
	display:table;
	background:#f0f0f0;
	width: 100%;
}

li > a {
	width: 100%;
}

li > a > div {
	padding: 10px;
}

li:nth-child(odd) {
	background:#dcdcdc;
}

.classtag {
	display:table-cell;
	height:40px;
	width:40px;
	text-align:center;
	vertical-align:middle;
	font-size:20px;
	font-weight:300;
	background:#004363;
	color:#fff;
}

.classname {
	display:table-cell;
	height:40px;
	width:260px;
	vertical-align:middle;
	padding:0 10px;
	font-weight:600;
}

.nav {
	display:table;
	border-collapse:collapse;
	position:fixed;
	background-color: #11c59a;
	top:0;
}

.block {
	display:table;
	width:64px;
	height:64px;
	text-align:center;
	color: #004363;
}

.title {
	display:table-cell;
	vertical-align:middle;
	width:150px;
	text-align:center;
	font-size:20px;
}

.nav-title {
	font-size:10px;
	letter-spacing:1px;
}

.nav i {
	font-size:30px;
}

div.new-button {
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
	background-color: #004363;
	color: white;
	box-shadow: 0 0px 20px rgba(0,0,0,0.5);
}

#classes {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#classes > form {
	margin-top: 80px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#classes > form > select {
	width: 100px;
}

#classes > form > input {
	width: 100px;
}

#hide-class, #hide-thread, #hide-post {
	width: 100px;
	margin-top: 5px;
	border: none;
	padding: 10px;
	color: white;
	background: #af2e50;
}

h3 {
	margin-top: 0;
}

#threads {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#threads > form {
	width: 50%;
	margin-top: 80px;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#threads > form > textarea {
	width: 100%;
	margin-top: 10px;
	height: 5em;
}

#threads > form > input {
	width: 100px;
}

#thread-title  {
	width: 150px;
}

#threads > form > label {
	width: 50px;
}

.addButton {
	border: none;
	border-radius: 0;
	padding: 10px;
	color: white;
	background: #004363;
}

#posts {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#posts > form {
	margin-top: 80px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

#posts > form > textarea {
	width: 100%;
	height: 5em;
}

#posts > form > input {
	width: 100px;
}

#notif {
	text-decoration: line-through;
	color: gray;
}

#pref-panel {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#pref-panel > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
}

.delete {
	display: table-cell;
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	/*font-size: 20px;*/
	position: absolute;
	right: 10px;
	margin-top: -40px;
	font-size: 30px;

	font-weight: 300;
	background: #AB0000;
	color: #fff;
}

#delete-class {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,.7);
	top: 0px;
	text-align: center;
}

#delete-class > form {
	margin-left: 60px;
	width: 50%;
	padding: 15px;
	background-color: white;
	display: inline-block;
	text-align: center;
	margin-top: 150px;
}

#delete-class > form > input, #delete-class > form > button {
	width: 100px;
	margin: 10px;
}

input {
	-webkit-appearance: none;
}

input.fail {
	border: 2px #83192b solid;
	background: #ddc0c4;
}

div.fail {
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-bottom: 15px;
	padding: 5px;
}

.fail {
	color: #a94442;
}

label {
	font-size: 14px;
}

.button {
	width: 256px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	background: #004363;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 2px;
}

.logo {
	width: 100px;
	height: 83px;
	background-image: url("../images/classtalk.png");
	margin: 0 auto 40px auto;
}

.box {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
	background: #ddd;
	border: 1px solid #b5b5b5;
	text-align: center;
	position: relative;
	z-index: 10;
}
.box::-webkit-input-placeholder {
    position: relative;
    -webkit-transition: top 0.1s, opacity: 0.1s;
}
.box:focus::-webkit-input-placeholder {
    top: -25px;
    opacity: 0;
}

/* Firefox < 19 */
.box:-moz-placeholder {
    position: relative;
    -moz-transition: top 0.1s, opacity: 0.1s;
}
.box:focus:-moz-placeholder {
    top: -25px;
    opacity: 0;
}

/* Firefox > 19 */
.box::-moz-placeholder {
    position: relative;
    -moz-transition: top 0.1s, opacity: 0.1s;
}
.box:focus::-moz-placeholder {
    top: -25px;
    opacity: 0;
}

/* Internet Explorer 10 */
.box:-ms-input-placeholder {
    position: relative;
    -ms-transition: top 0.1s, opacity: 0.1s;
}
.box:focus:-ms-input-placeholder {
    top: -25px;
    opacity: 0;
}

.box:focus {
	background: #eee;
}
.box + label {
	position: relative;
	display: block;
	top: -35px;
	font-size: 12px;
	color: white;
	z-index: 5;
	transition: top 0.1s;
	-webkit-transition: top 0.1s;
	-moz-transition: top 0.1s;
}
.box:focus + label {
	top: -60px;
}
#login {
	background: #11c59a;
}
.registerMessage {
	text-align: center;
	margin-bottom: 20px;
	color: white;
}
.centered-box {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.login, .register {
	margin-top: 20px;
}

#thread {
	background-color: lightblue;
}

#pref-panel > form > label {
	text-align: left;
}

#pref-panel > form > input, #pref-hide {
	width: 150px;
	margin-top: 5px;
}

#old {
	display: none;
}

#settings-panel > div {
	border-bottom: 2px rgb(0, 122, 197) solid;
}

#notif, #pref, #change, #logout {
	background-color: aliceblue;
}

.hidden {
	display: none;
}

select {
	margin-bottom: 5px;
}

#noposts, #nothreads {
	color: white;
}